.custom-checkbox-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    background-color: #f9f9f9;
  }

  .download-block__text{
    color: #000;
    font-size: 38px;
    text-align-last: left;
  }

  
  .download-block__checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
  }
  
  .download-block__checkbox-item {
    display: flex;
    align-items: center;
  }
  
  /* Стили чекбокса - здесь вы можете менять параметры */
  .download-block__checkbox-inputss {
    /* Размер квадратика */
    width: 24px;
    height: 24px;
    
    /* Цвет квадратика */
    accent-color: #77B2D3;
    
    /* Дополнительные стили */
    /* color: #fff; */
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .download-block__checkbox-input {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    
    background-color: #77B2D3; /* Цвет фона */
  }
  
  .download-block__checkbox-input:hover {
    accent-color: #77B2D3;
  }

  .download-block__checkbox-input:checked::before {
    content: "✓";
    position: absolute;
    color: white; /* Белая галочка */
    font-size: 14px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .download-block__checkbox-label {
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    color: #333;
  }