.picture-block__container{
    box-sizing: border-box;
    width: 100%;
    max-width: 1414px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.picture-block__title{
    align-items: center;
    flex-direction: row;
    display: flex;
    gap: 30px;
}
.picture-block__blocks-list{
    display: flex;
    flex-direction: column;
    gap: 57px;
}
.picture-block__blocks1{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.picture-block__blocks2{
    display: none;
    flex-wrap: wrap;
    gap: 50px;
}
.picture-block__text{
    color: #000;
    font-size: 38px;
    text-align-last: left;
}

.picture-block__btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1; 
    padding: 0;
    width: 307px;
    height: 54px ;
    font-size: 20px;
    background: linear-gradient(45deg, #F32C6D, #CB1D95);
}

.picture-block__svg{
    width: 60px;
    height: 60px;
}

.picture-block__left-block{
    position: relative; 
    display: inline-block;
    background-color: #fff;
    width: 570px;
    height: 512px;
    border-radius: 16px;
}

.picture-block__img{
    position: relative;
    width: 570px;
    height: 512px;
    border-radius: 16px;
}

.picture-block__right-block{
    position: relative; 
    display: inline-block;
    align-items: start;
    width: 570px;
    height: 512px;
    background-color: #fff;
    border-radius: 16px;
}

.picture-block__name-file{
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 30px;
    color: #000;
    text-align: left;
    font-size: 16px;
}

.picture-block__result{
    position: relative; 
    display: inline-block;
    width: 570px;
    height: 160px;
    background-color: #F3F1FE;
    text-align: left;
    color: #000;
}

.picture-block__result-text1{
    margin-left: 30px;
    margin-top: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.picture-block__results{
    flex-direction: row;
    display: flex;
    gap: 80px;
    margin-left: 30px; 
}
 
.picture-block__result-percent{
    margin-top: 7px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 7px;
}

.picture-block__result-text2{
    margin-top: 0;
    font-size: 16px;
}

.picture-block__defects{
    position: relative; 
    display: inline-block;
    width: 570px;
    height: 160px;
    text-align: left;
    color: #000;
    
}

.picture-block__defect-text{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: bold;
}

.picture-block__defect-list{
    flex-direction: column;
    display: flex;
    margin-left: 30px;
}

.picture-block__defect{
    align-items: center;
    flex-direction: row;
    display: flex;
    gap: 95px;
}

.picture-block__defect1-part1,
.picture-block__defect1-part2{
    align-items: center;
    flex-direction: row;
    display: flex;
    gap: 10px;  
}

.picture-block__btns{
    margin-top: 40px;
    margin-left: 30px;
    align-items: center;
    flex-direction: row;
    display: flex;
    gap: 40px;
    transition: all 0.3s ease;

}

.picture-block__btn2{
    width: 200px;
    height: 54px;
    font-size: 16px;
    background: linear-gradient(45deg, #9021AC, #C8459F);

}

.picture-block__btn3{
    width: 200px;
    height: 54px;
    font-size: 16px;
    background: linear-gradient(45deg, #F32C6D, #CB1D95);

}



@media (max-width: 1250px){
    .picture-block__container{
        max-width: 286px;
    }

    .picture-block__title{
        gap: 10px;
    }

    .picture-block__text{
        font-size: 20px;
    }

    .picture-block__btn1{
        display: none;
    }

    .picture-block__blocks1{
        display: none;
    }

    .picture-block__svg{
        display: none;
    }

    .picture-block__blocks2{
        display: flex;
        position: relative;
        display: inline-block;
        align-items: start;
        width: 286px;
        border-radius: 15px;
    }

    .picture-block__img{
        width: 286px;
        height: 252px;
        border-radius: 15px;
    }

    .picture-block__namefile-overlay{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: #7E79A6;
        opacity: 70%;
        border-radius: 15px 15px 0 0;
        z-index: 10;
        text-align: center;
    }
    .picture-block__namefile-text{
        padding: 7px 0 0 20px;

    }

    .picture-block__results1{
        text-align: left;
        margin-top: 10px;
        width: 286px;
        height: 70px;
        background-color: #fff;
        border-radius: 15px;
        color: #000;
    }
    .picture-block__results-text1{
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 20px;
    }
    .picture-block__results-text2{
        margin-left: 20px;

        font-size: 16px;
    }

    .picture-block__defects{
        width: 286px;
        height: 110px;
        background-color: #fff;
        border-radius: 15px;
        margin-top: 13px;
    }

    .picture-block__defect-text{
        margin-left: 20px;
        margin-top: 20px;
        font-size: 16px;
    }

    .picture-block__defect-list{
        margin-left: 20px;
    }

    .picture-block__defect{
        gap: 60px;
    }
    .picture-block__defect-text1{
        font-size: 9px;
    }

    .picture-block__svgs{
        display: flex;
        width: 54px;
        height: 54px;
    }

    .picture-block__btns{
        margin-top: 20px;
        margin-left: 0px;
        align-items: center;
        flex-direction: row;
        display: flex;
        gap: 30px;
        transition: all 0.3s ease;
    }

    .picture-block__btn2{
        width: 200px;
        height: 54px;
    }
}