.main-block__block {
    margin-top: 193px;
    margin-left: 115px;
    display: flex;
}

.main-block__text {
    color: #000000;
    display: block;
    font-size: 45px;
    font-family: "Open Sans", ExtraBold; 
}

.main-block__text2 {
    color: #ffffff;
    display: block;
    font-size: 14px;
    display: flex;
    font-family: "Open Sans", Semibold; 
    margin-top: 64px;
}

.main-block__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 14px 17.5px;
    text-decoration: none;
    border-radius: 50px;
    outline: none;
    background-color:#77B2D3;
}

.main-block__btn2 {
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 300px;
    height: 54px;
    padding: 14px 17.5px;
    text-decoration: none;
    border-radius: 50px;
    outline: none;
    background-color:#77B2D3;
}

.main-block__img {
    margin-left: 118px;
}
